<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AnimationsFramework.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>Find My Bus NJ Today Widget.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>NetworkManager.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>findmybusnj-build-and-test.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>findmybusnj-release.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>findmybusnj-testflight.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>findmybusnj-testflight.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>findmybusnj-widget.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>findmybusnj.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D4138B3B1CB5FDD800D61C9A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D479C18F1C34DAA200C434ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D479C1981C34DAA200C434ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D4876CC01CC67555004D92D5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D4876CD71CC67644004D92D5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D4D1AF161C0BA99C00FA6C91</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D4D1AF1F1C0BA99C00FA6C91</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D4D6AB5F1BBA2FE200CE241D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D4D6AB751BBA2FE200CE241D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D4D6AB801BBA2FE200CE241D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
